body {
background:#000;
color:#0f0;
font-family:'Consolas',monospace;
letter-spacing:-.25em;
overflow:hidden;
}

body, p, h1 {
margin:0;
}

div{
border:#0f0 thin solid;
background:#020;
padding:2em;
opacity:0.9;
position:absolute;
top:20%;
left:25%;
width:40%;
letter-spacing:0;
display:none;
} 
