body {
background:#000;
color:#0f0;
font-family:'Consolas',monospace;
letter-spacing:-.25em;
overflow:hidden;
}

body, p, h1, h2 {
margin:0;
}

div {
border:#0f0 thin solid;
background:#020;
padding:2em;
opacity:0.9;
position:absolute;
letter-spacing:0;
display:none;
}

.preamble {
top:20%;
left:25%;
width:40%;
}

.error {
color:#f00;
padding:1em;
}
